<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insung.satto.domain.user.repository.UserMapper">


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into users(studentId, password, username, nickname, department, grade, isPublic, role, profileImage) values (#{studentId}, #{password}, #{username}, #{nickname}, #{department}, #{grade}, #{isPublic}, #{role}, #{profileImage})
    </insert>

    <select id="findByStudentId" resultType="User">
        select * from users
        <where>
            studentId = #{studentId}
        </where>
    </select>

    <select id="existsByStudentId" resultType="boolean">
        select count(*) from users
        <where>
            studentId = #{studentId}
        </where>
    </select>

    <update id="toggleAccountPrivacy">
        update users
        set isPublic = #{currentStatus}
        where studentId = #{studentId}
    </update>

    <delete id="withdrawal">
        delete
        from users
        where studentId = #{studentId}
    </delete>

    <update id="changePassword">
        update users
        set password = #{password}
        where studentId = #{studentId}
    </update>

    <update id="editProfile">
        UPDATE users
        SET username = #{editProfileDTO.username}, nickname = #{editProfileDTO.nickname}, department = #{editProfileDTO.department}, grade = #{editProfileDTO.grade}
        WHERE studentId = #{studentId}
    </update>

    <update id="editProfileImage">
        update users
        set profileImage = #{profileImage}
        where studentId = #{studentId}
    </update>


</mapper>